    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: #FAF3E0; 
        color: #4B3621;
        font-family: serif ,'Times New Roman', Times;
    }
    .logo img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }


    /* .nav{
        padding:30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        color: #4B3621;
        box-shadow: 2px 2px 15px 1px black;
    } */
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 30px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(250, 243, 224, 0.9); /* Soft Beige */
        color: #4B3621;
        box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.4s ease-in-out;
        z-index: 1000; /* Keeps navbar above all content */
        
    }
    
    .menu ul {
        list-style: none;
        display: flex;
        color: #4B3621;
        width: 450px;
        justify-content: space-between;
    }

    .menu ul li a{
        text-decoration: none;
        color: #4B3621;
        font-size: 20px;
        font-weight: bold;
    }
    .burpar{
        display: none;
    }
    .icon{
        width: 20px;
        border: 2px solid black;
        margin: 1px;
    }

    .cart-count {
        position: absolute;
        top: -8px; 
        right: -8px; 
        background-color: #F7E7CE; 
        color: brown;
        font-size: 12px;
        font-weight: bold;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cart-link {
        position: relative;
        display: inline-block;
    }

    @media screen and (max-width:550px){
        .burpar{
            height: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
        .burger{
            display: block;
        }
        .nav{
            width: 90px;
            display: block;
            transition: transform 500ms ease-in;

        }
        .logo{
            display: none;
        }
        .menu ul{
            
            width: 100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .shownav{
            transform: translateX(0%);
        }
        .hidenav{
            transform: translateX(-100px)

        }

    }